@font-face {
    font-family: "Ubuntu";
    src: url("../../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/Futura Bold.otf") format("OpenType");
}

.wrapper {
    width: 100%;
    background-color: #38003c;    
    min-height: 100vh;
    background-image: url("../../assets/bg-image.jpg"); 
    background-size: cover;
    background-position: center;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    background-color: #38003c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #00ff87;
    font-size: 1.1em;
    margin: 0 0.5em;
    font-family: "Futura", Helvetica, sans-serif;
    padding: 1.6em 0;
}

.logo {
    height: 1.4em;
}

button.reset-button-header {
    position: absolute;
    top: 1.6em;
    right: 1.5em;
    font-size: 0.85em;
    font-weight: bold;
    color: white;
    background-color: #e90052;
    height: 2em;
    border: none;
    z-index: 1;
}

button.reset-button-header:hover {
    background-color: #04f5ff!important;
}

/* GENERAL */
.container {
    min-width: 18.75em;
    min-height: 80vh;
    max-height: 80vh;
    background-color: rgba(0, 255, 135, 0.43);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1.5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
}

.margin-bottom {
    margin-bottom: 0.5em!important;
}

/* LANDING PAGE */
.logo-lp {
    height: 1.6em;
    text-align: center;
    padding: 1em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-detail {
    width: 75%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.lp-detail p {
    padding-right: 1em;
    color: white;
}

.lp-detail h3 {
    color: white;
    font-size: 1.35em;
    text-align: center;
}

div.flex-row.lp-detail {
    margin-top: 1.15em;
}

.icon {
    padding: 2em;
}

/* BUTTONS */
.button {
    height: 3em;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.button:hover {
    background-color: #04f5ff!important;
}

.button-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-container a {
    width: 100%;
}

.button-container a:hover {
    background-color: #04f5ff;
}

/* BANNERS */
.banner-container, .alert-banner-container {
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 1em auto 0 auto;
    color: white;
    background-color: rgba(0, 255, 135, 0.45);
}

.banner-reset-container {
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    min-height: 1em;
    margin: 1em auto 0 auto;
    color: white;
    background-color: rgba(0, 255, 135, 0.45);
}

.banner-container h4 {
    padding: 0.5em;
    font-weight: bold;
}

.banner-reset-container h4 {
    padding: 0.5em;
    font-weight: bold;
    border: none;
    margin: 0.5em 0;
}

.banner-reset-container button {
    background-color: red;
    border: none;
    color: white;
    height: 97%;
    font-weight: bold;
    margin-left: 1em;
}

.banner-reset-container button:hover {
    background-color: #04f5ff;
}

.alert-banner-container {
    background-color: rgba(255, 0, 0, 1);
    margin: 0 auto 1em auto!important;
}

.alert-banner-container h4 {
    padding: 0.5em;
    font-weight: bold;
}

/*PLAYER INPUT PAGE */
.player-input-page-wrapper {
    justify-content: center;
}

/*PLAYER FORM */
.player-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.name-input {
    width: 75%;
    margin: 1em auto;
    padding: 0.5em 0;
    text-align: center;
}

/* SKILL DISPLAY */
.star-container {
    width: 25%;
    /* margin: 0 1em 0 1em; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star-wrapper {
    width: 85%;
    margin: 1.25em auto 0.3em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.star-icon {
    width: 1em;
}

.skill-input {
    width: 65%;
    margin: 0 auto;
    padding: 0.5em 0;
    text-align: center;
}

.position-input {
    width: 65%;
    margin: 0.5em auto;
    padding: 0.5em 0;
    text-align: center;
}

.positions-wrapper {
    width: 75%;
    margin: 1.25em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.position-square {
    width: 20%;
    height: 3em;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-square p {
    color: white;
    font-weight: bold;
}

/* LIST ITEM */
.list-item-wrapper {
    width: 75%;
    margin: 0.5em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.list-item-ul {
    overflow: auto;
}

.list-item-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
}

.list-label {
    font-size: 12px;
    text-align: center;
}

/* TEAM CUSTOMISATION PAGE */
.colour-display {
    border: none;
    padding: 0;
    margin: 0.80em auto;
    width: 3em;
    height: 3em;
    box-shadow: none !important;
    outline: 0;
}

.kit-icon {
    width: 3em;
    height: 3em;
    padding: 1em 1em 0 1em;
}

/* TEAMSIZE COMPONENT */
.team-size-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
}

.team-size-text {
    font-size: 1.3em;
}

.team-size-button {
    color: white;
    background-color: #38003c;
    border: none;
    margin: 0.5em 0.10em;
}

.team-size-button:hover {
    background-color: #04f5ff;
}

/* FINAL TEAMS PAGE */
.pitch-container1 {
    min-width: 18.75em;
    max-width: 18.75em;
    min-height: 80vh;
    max-height: 80vh;
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1em 0;
    border: 0.5em solid white;
    background-image: url("../../assets/footy-pitch-bg-left.jpg");
    background-size: cover;
    background-position: center;
}

.pitch-container2 {
    min-width: 18.75em;
    max-width: 18.75em;
    min-height: 80vh;
    max-height: 80vh;
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1em 0;
    border: 0.5em solid white;
    background-image: url("../../assets/footy-pitch-bg-right.jpg");
    background-size: cover;
    background-position: center;
}

.player-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap-reverse;
    margin: 1em;
}

.player-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.player-icon-container {
    display: flex;
    justify-content: center;
}

.player-name-text {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.player-star-container {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 400px) {
    .container, .pitch-container1, .pitch-container2 {
        min-width: 100%;
        min-height: 60vh;
        max-height: 100vh;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .pitch-container1, .pitch-container2 {
        min-width: none;
        max-width: 18.75em;
        min-height: 60vh;
        max-height: 100vh;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    h1 {
        font-size: 0.85em;
        margin: 0 9em 0 0;
        font-family: "Futura";
        padding: 1.2em 0;
    }
    
    .logo {
        height: 1.2em;
    }

    button.reset-button-header {
        position: absolute;
        top: 0.75em;
        right: 1em;
        font-size: 0.75em;  
    }
    
    .list-item-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .player-input-page-wrapper {
        flex-direction: column;
        min-height: 100%;
        align-items: center;
    }
    .container {
        min-height: 100%;
    }
    .wrapper {
        min-height: none;
    }

    .button {
        margin-bottom: 1em;
    }
}
