@font-face {
    font-family: "Ubuntu";
    src: url("../../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "Futura";
    src: url("../../assets/fonts/Futura Bold.otf") format("OpenType");
}


.wrapper {
    width: 100%;
    background-color: #38003c;    
    min-height: 100vh;
    background-image: url("../../assets/bg-image.jpg"); 
    background-size: cover;
    background-position: center;
    font-family: "Ubuntu";
}

/* HEADER */

.header {
    width: 100%;
    background-color: #38003c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #00ff87;
    font-size: 1.1em;
    margin: 0 0.5em;
    font-family: "Futura";
    padding: 1.6em 0;
}

.logo {
    height: 1.4em;
}

/* GENERAL */

.container {
    min-width: 18.75em;
    min-height: 80vh;
    background-color: rgba(0, 255, 135, 0.43);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1.5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
}


/* LANDING PAGE */

.logo-lp {
    height: 1.6em;
    text-align: center;
    padding: 1em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-detail {
    width: 75%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.lp-detail p {
    padding-right: 1em;
    color: white;
}

.lp-detail h3 {
    color: white;
    font-size: 1.35em;
    text-align: center;
}


.icon {
    padding: 2em;
}

/* BUTTONS */

.button {
    height: 3em;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
}

.button-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-container a {
    width: 100%;
}

/* BANNER */
.banner-container {
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 1em auto 0 auto;
    color: white;
    background-color: rgba(0, 255, 135, 0.45);
}

.banner-container h4 {
    padding: 0.5em;
    font-weight: bold;
}

/*PLAYER INPUT PAGE */

.player-input-page-wrapper {
    justify-content: center;
}

/*PLAYER FORM */
.player-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.name-input {
    width: 75%;
    margin: 1em auto;
    padding: 0.5em 0;
    text-align: center;
}

/* SKILL DISPLAY */
.star-container {
    width: 25%;
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.star-icon {
    width: 1em;
}

.skill-input {
    width: 65%;
    margin: 0 auto;
    padding: 0.5em 0;
    text-align: center;
}

.position-input {
    width: 65%;
    margin: 0 auto;
    padding: 0.5em 0;
    text-align: center;
}

.positions-wrapper {
    width: 75%;
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.position-square {
    width: 20%;
    height: 3em;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-square p {
    color: white;
    font-weight: bold;
}


/* LIST ITEM */
.list-item-wrapper {
    width: 75%;
    margin: 0.5em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
}

.list-item-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-label {
    font-size: 12px;
    text-align: center;
}

/* TEAM CUSTOMISATION PAGE */
.colour-display {
    border: none;
    padding: 0;
    margin: 1.5em auto;
    width: 3em;
    height: 3em;
    box-shadow: none !important;
    outline: 0;
}

.kit-icon {
    width: 3em;
    height: 3em;
    padding: 2em 2em 0 2em;
}
